includes:
    - ../../../../config/rules.neon

parameters:
    guanguans:
        allRules: false
        exceptionMustImplementNativeThrowable:
            nativeThrowable: Guanguans\PHPStanRules\Contract\ThrowableContract
            enabled: true
