# https://github.com/ergebnis/phpstan-rules/blob/main/rules.neon
# https://github.com/symplify/phpstan-rules/tree/main/config/

conditionalTags:
    Guanguans\PHPStanRules\Rule\New_\ExceptionMustImplementNativeThrowableRule:
        phpstan.rules.rule: %guanguans.exceptionMustImplementNativeThrowable.enabled%
    Guanguans\PHPStanRules\Rule\File\ForbiddenSideEffectsRule:
        phpstan.rules.rule: %guanguans.forbiddenSideEffects.enabled%

parameters:
    guanguans:
        allRules: true
        exceptionMustImplementNativeThrowable:
            nativeThrowable: \Throwable
            enabled: %guanguans.allRules%
        forbiddenSideEffects:
            enabled: false

parametersSchema:
    guanguans: structure([
        allRules: bool()
        exceptionMustImplementNativeThrowable: structure([
            nativeThrowable: string()
            enabled: bool(),
        ])
        forbiddenSideEffects: structure([
            enabled: bool(),
        ])
    ])

services:
    -
        class: staabm\SideEffectsDetector\SideEffectsDetector

    -
        class: Guanguans\PHPStanRules\Rule\New_\ExceptionMustImplementNativeThrowableRule
        arguments:
            nativeThrowable: %guanguans.exceptionMustImplementNativeThrowable.nativeThrowable%
    -
        class: Guanguans\PHPStanRules\Rule\File\ForbiddenSideEffectsRule
