conditionalTags:
	Guanguans\PHPStanRules\Rule\ExceptionMustImplementNativeThrowableRule:
		phpstan.rules.rule: %guanguans.exceptionMustImplementNativeThrowable.enabled%

parameters:
	guanguans:
		allRules: true
		exceptionMustImplementNativeThrowable:
			nativeThrowable: \Throwable
			enabled: %guanguans.allRules%

parametersSchema:
	guanguans: structure([
		allRules: bool()
		exceptionMustImplementNativeThrowable: structure([
			nativeThrowable: string()
			enabled: bool(),
		])
	])

services:
	-
		class: Guanguans\PHPStanRules\Rule\ExceptionMustImplementNativeThrowableRule
		arguments:
			nativeThrowable: %guanguans.exceptionMustImplementNativeThrowable.nativeThrowable%
