# https://github.com/ergebnis/phpstan-rules/blob/main/rules.neon
# https://github.com/symplify/phpstan-rules/tree/main/config/

includes:
    - rules.php

parametersSchema:
    guanguans: structure([
        allRules: bool()
        exceptionMustImplementNativeThrowable: structure([
            nativeThrowable: string()
            enabled: bool(),
        ])
        forbiddenSideEffects: structure([
            enabled: bool(),
        ])
    ])

parameters:
    guanguans:
        allRules: true
        exceptionMustImplementNativeThrowable:
            nativeThrowable: \Throwable
            enabled: %guanguans.allRules%
        forbiddenSideEffects:
            enabled: %guanguans.allRules%

conditionalTags:
    Guanguans\PHPStanRules\Rule\Class_\ExceptionMustImplementNativeThrowableRule:
        phpstan.rules.rule: %guanguans.exceptionMustImplementNativeThrowable.enabled%
#    Guanguans\PHPStanRules\Rule\File\ForbiddenSideEffectsRule:
#        phpstan.rules.rule: %guanguans.forbiddenSideEffects.enabled%

services:
    -
        class: Guanguans\PHPStanRules\Rule\Class_\ExceptionMustImplementNativeThrowableRule
        arguments:
            nativeThrowable: %guanguans.exceptionMustImplementNativeThrowable.nativeThrowable%
#    -
#        class: staabm\SideEffectsDetector\SideEffectsDetector
#    -
#        class: Guanguans\PHPStanRules\Rule\File\ForbiddenSideEffectsRule
