# total 8 errors

includes:
    - phpstanApi.runtimeReflection.neon
    - rector.noInstanceOfStaticReflection.neon
    - symplify.forbiddenFuncCall.neon
    - symplify.forbiddenStaticClassConstFetch.neon
