# total 1 error

parameters:
    ignoreErrors:
        -
            message: '#^Throwing checked exception ErrorException in closure\!$#'
            count: 1
            path: ../src/Support/helpers.php
