# total 1 error

parameters:
    ignoreErrors:
        -
            message: '#^Function "property_exists\(\)" cannot be used/left in the code$#'
            count: 1
            path: ../src/Rule/File/ForbiddenSideEffectsRule.php
